// Specific CSS for your home-page
a {
  text-decoration: none !important;
}

.banner {
  background-image: asset-url('dauphin-carte.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1000px;
  text-align: center;
}


.title-banner h1{
  color: white;
  padding-top: 30rem;
  text-shadow: 0px 1px 4px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}

// // BARRE DE RECHERCHE LE WAGON

// .search-form-control {
//   position: relative;
// }

// .search-form-control .btn {
//   position: absolute;
//   top: 8px;
//   bottom: 8px;
//   right: 8px;
// }
// .search-form-control .form-control {
//   height: 3.5rem;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.08);
//   border: 1px solid #E7E7E7;
// }

// .image-small-32 {
//   width: 32px;
//   height: 32px;

// }

// .searchbar {
//   width: 500px;
//   height: 60px;
//   display: flex;
//   margin: 0 auto;
//   border-radius: 16px;
//   border: 1px solid white;

// }

// .searchbar-picto {
//   padding: 12px;
//   border-right: 1px solid white;

// }


// .search-form-control input{
//   background-color: rgba(3,13,36,0);
//   border : none !important;
//   font-family: "Inconsolata";
//   font-size: 16px;
//   color: white;

// }

// .search-form-control i{
//   color: white;
// }


// CAROUSSEL

.carousel-inner h2{
  padding-top: 5rem;
  text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}


.slide {
  // height: 400px !important;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.carousel-inner{
  // background-color: rgb(3,13,36);
  background-image: asset-url('fond.png');
  text-align: center;
  padding-top: 30px;
  padding-bottom: 110px;
  // position: relative;

}

.card {
  // min-height: 300px;
  border-radius: 20px;
  // position: relative;

}

.card-body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.card .onglet {
  display: flex;
  justify-content: space-around;
  // align-items: center;

}

// .picture {
//   max-height: 220px;
//   min-height: 220px;
//   border-top-left-radius: 20px;
//   border-top-right-radius: 20px;
// }

.card-body .info {
  background-color: turquoise;
  width: 100%;
  height: 60px;
  border-bottom-right-radius: 20px;
  align-items: center;
  padding-top: 15px;
  text-decoration: none;
  font-family: Inconsolata;
  color: white;
}

.card-body .where {
  background-color: #0A859C;;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 20px;
  align-items: center;
  padding-top: 15px;
  font-family: Inconsolata;

}

.picture {
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}









.corail {
  width: 100%;
  opacity: 95%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

// .about {
//   position: absolute;
//   bottom: 40px;

// }

.about-divin {
  margin-top: 35px;
  border: 1px solid #00005A;
  border-radius: 20px;
  padding: 30px;

}



.about-divin p{
  text-align: center;
  line-height: 40px;
}

.Eco-gests {
  margin-top: 130px;
}

.ecogest {
  display: flex;
  padding: 30px;
  margin-top: 30px;


}

.image-small-30{
  height: 120px;
  height: 120px;
}

.gest {
  border-radius: 16px;
  border: 3px solid #0A859C;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.members {
  display: flex;

}

.member {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
