// Specific CSS for your home-page
a {
  text-decoration: none !important;
}

.banner {
  background-image: asset-url('dauphin-carte.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1000px;
  text-align: center;
}


.title-banner h1{
  color: white;
  padding-top: 30rem;
  text-shadow: 0px 1px 4px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}



// CAROUSSEL
.carou {
max-width: 1300px !important;
margin-bottom: 150px;

}

.carousel-inner h2{
  padding-top: 5rem;
  text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

// #multi-item-example {
//   width: 130%;
//   text-align: center !important;
// }





.carousel-inner{
  // background-color: rgb(3,13,36);
  background-image: asset-url('fond.png');
  text-align: center;
  padding-top: 30px;
  padding-bottom: 110px;
  width: 100%;
  // position: relative;
  margin-bottom: 150px;

}

// .col-md-4 {
//   width: 100%;
//   padding: 20px;
// }

.picture:hover{
  background-size:115%;
  transition: all 1s ease;
}

.picture {
  margin: 0;
  background-size: 110%;
  transition: all 1s ease;
  position: relative;
  background-position: center;
  height: 220px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    .onglet{
      bottom: -20px;
      opacity:1;
      transition: 1s;

    }
  }
}




.controls-top i {
  color:  #0A859C;
}

.onglet {
  position: absolute;
  bottom: 30px;
  transition: 1s;

 width: 400px;
 display:flex;
 margin-top: -10px;
 opacity: 0;
 text-align: center;
}

.onglet .where {
  background-color:white;
  width: 200px;
  padding:15px 10px ;
  border-bottom-left-radius: 5px;
  border: 1px solid white;
  opacity: 0.8;
  font-size: 15px;
  color:#008297;
  font-weight: bold;
  font-family: "Inconsolata";
  &:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -12px inset, rgba(0, 0, 0, 0.3) 0px 9px 18px -9px inset;
  }
 }

 .onglet .info {
    background-color:white;
    width: 200px;
    padding:15px 10px ;
    border-bottom-right-radius: 5px;
    border: 1px solid white;
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
    color:#008297;
    font-family: "Inconsolata";
    &:hover{
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
   }




.corail {
  width: 100%;
  opacity: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}



.about-divin {
  margin-top: 35px;
  border: 2px solid #0A859C;
  border-radius: 20px;
  padding: 30px;

}



.about-divin p{
  text-align: center;
  line-height: 40px;
}

.Eco-gests {
  margin-top: 130px;
}

.ecogest {
  display: flex;
  padding: 30px;
  margin-top: 30px;


}

.image-small-30{
  height: 120px;
  height: 120px;
}

.gest {
  border-radius: 16px;
  border: 2px solid #0A859C;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.members {
  display: flex;

}

.member {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
