// Import page-specific CSS files here.
@import "home";
.barre {
  background-color : #00005A;
  height: 20vh;
  padding-top: 20px;
}

.barre h2{
  color: white !important;
}

// .corail2 {
//   opacity: 10%;
//   max-height: 20vh;
//   width: 100%;
// }
