<div class="container-index">
  <div class="cards-index">
    <% @species.each do |species| %>
    <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path species.photo.key %>)">
      <h4><%=species.name%></h4>
        <div class="button">
          <h4 class="one"><%= link_to "Where am I?", tags_path(query: species.name)%></h4>
          <h4 class="two"><%= link_to "More Info about me", species_path(species.id)%></h4>
        </div>
    </div>
    <% end %>
  </div>
</div>
