<div class="container-index">
  <div class="cards-index">
    <% @species.each do |species| %>
    <div class="card-fish-index">
      <figcaption>
        <h2><%= link_to(Species.name, species_path(species))%></h2>
        <p><%=species.threat_level%></p>
      </figcaption>
        <a href="#"></a><img <%= cl_image_tag species.photo.key%>
    </div>
    <% end %>
  </div>
</div>



