<div class="container-species">
  <div class="img-species">
    <img src="https://fr.nicodivescoolbali.com/wp-content/uploads/2017/10/banner-big-fish.jpg" alt="mola-mola">
  </div>
    <div class=" rigth-description p-4">
    <div class="name-center">
      <p>Poisson Lune</p>
      <p>Mola mola</p>
    </div>
    <div class="container-description">
      <p>Ce poisson de corps quasi circulaire, comprimé latéralement forme un disque ovoïde caractéristique. Très apparentes, les deux nageoires dorsale et anale, triangulaires, reculées et opposées (placées en vis-à-vis du disque corporel), lui servent de rames verticales synchrones. Absence de queue remplacee par une frange.</p>
    </div>
    <div class="name-center-item">
      <div class="tiret">
        <p >55cm to 300cm</p>
      </div>
      <div class="tiret">
        <p>bleu gris</p>
      </div>
      <div class="tiret">
        <p>Peu menacé</p>
      </div>
    </div>
    <div class="btn">
      <p>Ou nous trouver</p>
    </div>
    <div class="img-tag">
      <p>Photos</p>
    </div>
  </div>
</div>





