<div class="topnav-map-bandeau">
  <div class="position-logo">
    <%= link_to "/", class: "topnav-centered dispo-liens2" do %>
    <%= image_tag "logo.png", alt: "logo" %>
    <% end %>
  </div>
</div>

