/* BOTTOM BARS ================================= */
.container .nomargin {
  margin: 0px !important;
  padding: 0px !important;
}

.form-dive {
  width: 70%;
  margin: 0 auto;
}

.edit-form a {
  color: white;
}

.form-control {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.localisation {
  justify-content: space-around;
}

.test{
  color: white;
  background-color: transparent;
  border: none;
  font-size: 40px;
}

.bar  {
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border-color: #white !important;
  width:100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #white;
}

.form-control-file {
  width: 355px;
}

.form-dive-btn {
  display: flex;
  justify-content: space-between;
}

.edit-form {
  padding-top: 80px;
  background-image: asset-url('dauphins-home.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1000px;
}

.edit-form h1 {
  padding: 20px;
}

.edit-form input {
  font-size: 20px;
}

.edit-form textarea {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  width: 355px;
  border-color: none;
}

.edit-form label {
  font-size: 20px;
}
.map-addadive {
  height: 400px;
  width: 400px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.edit-form .btn-form {
  font-family: Inconsolata;
  font-size: 20px;
  width: 176px;
  height: 36px;
  margin-top: 24px;
  background-color: #005586;
  color: white;
}

.edit-form-container {
  margin-left: 10%;
}

.edit-form-container-tag{
}

.user_avatar input {

}

.edit-form .btn-form-back {
  font-family: Inconsolata;
  font-size: 20px;
  width: 355px;
  height: 36px;
  margin-top: 24px;
  background-color: #005586;
  text-align: center;
}
