/* BOTTOM BARS ================================= */

.form-group {
  margin-bottom: 2px !important;
}

.form-control-file {
  color: white;
}

.form-dive {
  width: 70%;
  margin: 0 auto;
}

.edit-form a {
  color: white;
}


.form-btn-fa {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 35px;
}

.add-a-dive {
  font-size: 43px;
}

.bar  {
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  width:100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #white;
}

.bar-user  {
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  width:17%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #white;
}

.form-dive-btn {
  display: flex;
  justify-content: space-between;
}

.edit-form {
  padding-top: 80px;
  background-image: asset-url('dauphins-home.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1000px;
}

.string label {
  margin-bottom: 0px;
  margin-top: 4px;
}

.text label {
  margin-bottom: 0px;
  margin-top: 4px;
}

.float label {
  margin-bottom: 0px;
  margin-top: 4px;
}

.file label {
  margin-bottom: 0px;
  margin-top: 4px;
}

.edit-form h1 {
  padding: 45px 45px 45px 10px;
}

.edit-form-profile h1 {
  padding-top: 45px;
  padding-bottom: 20px;
}

.edit-form input {
  font-size: 16px;
  margin-bottom: 2px !important;
}

.edit-form textarea {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  width: 100%;
  border-color: none !important;
}

.input-bloc textarea {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  width: 17%;
  border-color: none !important;
}

.edit-form label {
  font-size: 16px;
}

.white-text {
  color: white;
}

.edit-form-profile textarea{
  width: 17%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


