// .dispo-liens {
//  width: 100%;
// }

// .dispo-liens a {
//   justify-content: space-between;
// }

// .dispo-liens1 {
//   float: right;
//   float: top;
//   padding-top:0px;
//   padding-right:24px;
// }

// .dispo-liens2 {
//   float: left;
//   float: top;
//   padding-top:0px;
//   padding-left:24px;
// }

.topnav2 {
  background-color: transparent;
  padding: 30px 30px 30px 30px;
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}
.position-logo img {
  width: 100px;
}


