// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
.topnav {
  background-color: transparent;
  padding: 56px 30px 30px 30px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content :center;
}

.topnav a {
  color: #005586;
  padding: 8px 2px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease-in-out 0.2s;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin:16px;
}

.topnav a:hover {
  color: #100844;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out 0.1s;
  border-bottom: solid;
  // border-bottom: 1px solid #16a6b6;
  border-bottom: 1px solid #005586;
}

.topnav a.active {
  background-color: #16a6b6;
  color: white;
}

.liens.active {
  background-color: #16a6b6;
  color: white;
}
.topnav-centered img {
width: 100px;
}


.topnav-centered img:hover {
  border-bottom: none;
  text-decoration: none !important;
}


/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right{
    float: none;
    display: flex;
    border-bottom: none;
  }

.topnav-centered a {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}
}

.menu-avatar {
  text-align: center;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 4px white;
  border-color: #005586;
  background-color:transparent;
  margin-top: 12px;
}

.nav-item a {
  color: #005586;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0.2s;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 4px;

}
