// .dispo-liens {
//  width: 100%;
// }

// .dispo-liens a {
//   justify-content: space-between;
// }

// .dispo-liens1 {
//   float: right;
//   float: top;
//   padding-top:0px;
//   padding-right:24px;
// }

// .dispo-liens2 {
//   float: left;
//   float: top;
//   padding-top:0px;
//   padding-left:24px;
// }

.topnav2 {
  background-color: transparent;
  padding: 30px 30px 30px 30px;
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}
.position-logo img {
  width: 100px;
}

.topnav-map {
  background-color: transparent;
  padding: 30px 30px 30px 30px;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}

.topnav-map-avatar {
  background-color: transparent;
  position: fixed;
  z-index: 999;
  position: fixed;
  top:30px;
  right:30px;
}

.topnav-map-avatar img {
box-shadow: -1px 3px 6px 2px rgba(0, 0, 0, 0.7);
}

.topnav-map-bandeau {
  border: solid;
  border-color: white;
  background-color: transparent;
  border-radius: 0px 32px 32px 0px;
  margin: 30px 30px 30px 0px;
  padding: 4px 6px 4px 6px;
  position: fixed;
  z-index: 999;
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.7);
}


