.mapboxgl-popup-content {
  width: 400px;
  position: relative;
  padding: 0px 0px 0px;
  pointer-events: auto;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background: rgba(225, 225, 225, .9);
}

.card-tag {
  border: 2px solid #0A859C;
  width: 400px;
  border-radius: 6px;
  overflow: hidden;
}

.infos {
  padding-top: 6px;
}

.card-tag > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.card-tag h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-tag h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-tag p {
  font-size: 20px;
  font-family: Inconsolata;
  opacity: .9;
  margin: 0;
  line-height: 24px;
}

.card-tag .card-tag-infos {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-tag-infos .card-tag-user {
  position: absolute;
  right: 8px;
  top: -36px;
  width: 80px;
  height: 80px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;}

.species-name-in-popup {
  a:hover{text-decoration: none}
  font-family: Inconsolata;
  font-size: 24px;
  background: #fff;
  opacity: .7;
  border-radius: 0px 8px 8px 0px;
  position: absolute;
  left: 2px;
  top: 32px;
  width: auto;
  padding: 8px 12px 8px 12px;
}




.bin {
  position: absolute;
  bottom: 11px;
  right: 10px;
  opacity: .4;
}

